@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
a {
  font-family: 'Barlow Semi Condensed', sans-serif; }

body {
  background-color: #ecf2f8;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.container {
  max-width: 500px;
  height: 400px;
  display: grid;
  grid-template: repeat(5, auto)/100%;
  grid-template-areas: "box1" "box2" "box3" "box4" "box5";
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px; }
  .container #box-one,
  .container #box-two,
  .container #box-three,
  .container #box-four,
  .container #box-five {
    background-color: #7541c8;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    z-index: 1; }
    .container #box-one .background-box,
    .container #box-two .background-box,
    .container #box-three .background-box,
    .container #box-four .background-box,
    .container #box-five .background-box {
      position: absolute;
      top: 0;
      right: 13%;
      max-width: 500px;
      z-index: -1; }
    .container #box-one .row,
    .container #box-two .row,
    .container #box-three .row,
    .container #box-four .row,
    .container #box-five .row {
      z-index: 10; }
      .container #box-one .row .col.user,
      .container #box-two .row .col.user,
      .container #box-three .row .col.user,
      .container #box-four .row .col.user,
      .container #box-five .row .col.user {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .container #box-one .row .col.user img,
        .container #box-two .row .col.user img,
        .container #box-three .row .col.user img,
        .container #box-four .row .col.user img,
        .container #box-five .row .col.user img {
          width: 40px;
          border-radius: 50%;
          border: 2px solid #ecf2f8;
          margin-right: 20px; }
        .container #box-one .row .col.user h4,
        .container #box-one .row .col.user h6,
        .container #box-two .row .col.user h4,
        .container #box-two .row .col.user h6,
        .container #box-three .row .col.user h4,
        .container #box-three .row .col.user h6,
        .container #box-four .row .col.user h4,
        .container #box-four .row .col.user h6,
        .container #box-five .row .col.user h4,
        .container #box-five .row .col.user h6 {
          color: #cfcfcf; }
        .container #box-one .row .col.user h6,
        .container #box-two .row .col.user h6,
        .container #box-three .row .col.user h6,
        .container #box-four .row .col.user h6,
        .container #box-five .row .col.user h6 {
          font-weight: 500;
          letter-spacing: 0.4px;
          font-size: 0.8rem;
          opacity: 0.5; }
      .container #box-one .row .col.content,
      .container #box-two .row .col.content,
      .container #box-three .row .col.content,
      .container #box-four .row .col.content,
      .container #box-five .row .col.content {
        margin-top: 16px; }
        .container #box-one .row .col.content h2,
        .container #box-two .row .col.content h2,
        .container #box-three .row .col.content h2,
        .container #box-four .row .col.content h2,
        .container #box-five .row .col.content h2 {
          font-size: 1.3rem;
          color: #ecf2f8; }
        .container #box-one .row .col.content p,
        .container #box-two .row .col.content p,
        .container #box-three .row .col.content p,
        .container #box-four .row .col.content p,
        .container #box-five .row .col.content p {
          margin-top: 20px;
          font-weight: 500;
          color: #ecf2f8;
          opacity: 0.7;
          font-size: 0.9rem;
          letter-spacing: 0.4px;
          line-height: 1.4; }
  .container #box-two {
    background-color: #48556a; }
  .container #box-three {
    background-color: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.018), 0 12.5px 10px rgba(0, 0, 0, 0.01), 0 22.3px 17.9px rgba(0, 0, 0, 0.012), 0 41.8px 33.4px rgba(0, 0, 0, 0.016), 0 100px 80px rgba(0, 0, 0, 0.12); }
    .container #box-three .row .col.user .user__info h4,
    .container #box-three .row .col.user .user__info h6 {
      color: black; }
    .container #box-three .row .col.content h2,
    .container #box-three .row .col.content p {
      color: black; }
  .container #box-four {
    background-color: #19212e; }
    .container #box-four .row .col.user img {
      border: 2px solid #7541c8; }
  .container #box-five {
    background-color: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.018), 0 12.5px 10px rgba(0, 0, 0, 0.01), 0 22.3px 17.9px rgba(0, 0, 0, 0.012), 0 41.8px 33.4px rgba(0, 0, 0, 0.016), 0 100px 80px rgba(0, 0, 0, 0.12); }
    .container #box-five .row .col.user .user__info h4,
    .container #box-five .row .col.user .user__info h6 {
      color: #48556a; }
    .container #box-five .row .col.content h2,
    .container #box-five .row .col.content p {
      color: black; }

.container.also {
  display: flex; }

@media (min-width: 600px) {
  .container {
    max-width: 1200px;
    grid-template: repeat(4, auto)/50%;
    grid-template-areas: "box1 box1" "box2 box3" "box4 box4" "box5 box5"; } }

@media (min-width: 900px) {
  body {
    justify-content: center;
    align-items: center; }
  .container {
    max-width: 1200px;
    height: 400px;
    grid-template: repeat(2, auto)/25%;
    grid-template-areas: "box1 box1 box2 box5" "box3 box4 box4 box5";
    column-gap: 30px;
    row-gap: 25px; }
    .container #box-two,
    .container #box-three,
    .container #box-five {
      max-width: 300px; } }

#box-one {
  grid-area: box1; }

#box-two {
  grid-area: box2; }

#box-three {
  grid-area: box3; }

#box-four {
  grid-area: box4; }

#box-five {
  grid-area: box5; }
