//Card Background Colors
$BackgroundColor1: hsl(263, 55%, 52%);
$BackgroundColor2: hsl(217, 19%, 35%);
$BackgroundColor3: hsl(219, 29%, 14%);
$BackgroundColor4: hsl(0, 0%, 100%);

//Neutral Colors
$NeutralColor1: hsl(0, 0%, 81%);
$NeutralColor2: hsl(210, 46%, 95%);